@model SIDS.Plugin.Payments.BetterStripe.Models.PaymentInfoModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject INopHtmlHelper NopHtml
@{
    Layout = "";
    NopHtml.AddScriptParts(ResourceLocation.Footer, "https://js.stripe.com/v3/");
    NopHtml.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Payments.BetterStripe/Views/checkout.js");
}
<style>
    #stripe-payment-form {
        width: 100%;
        padding: 0 5px 0 5px;
        margin: auto;
        max-width: 430px;
    }

    .payment-stripe-next-step-button {
        margin-top: 10px;
    }

    .form-sprite-payment-cardholder {
        text-align: left;
        display: block;
    }

        .form-sprite-payment-cardholder label {
            /*display: inline-block;*/
            margin: 0 10px 0 0;
            text-align: left;
            width:25%;
        }

        .form-sprite-payment-cardholder input[type="text"] {
            min-height: 40px;
            max-width: 430px;
            width: 70%;
        }

    #stripe-cardholder-name {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    /**
    * The CSS shown here will not be introduced in the Quickstart guide, but shows
    * how you can use CSS to style your Element's container.
    */
    .StripeElement {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }

    #stripe-card-errors {
        color: red;
        padding: 10px;
    }

    .form-sprite-payment-button {
        text-align: center;
    }
</style>
@if (Model.Warnings.Any())
{
    <div class="message-error">
        <ul>
            @foreach (var warning in Model.Warnings)
            {
                <li>@warning</li>
            }
        </ul>
    </div>
}
else
{
    <div id="payment-form">
        <input type="hidden" asp-for="StripeErrors">
        <input type="hidden" asp-for="StripePaymentIntentId">
        <a href="https://www.shift4shop.com/credit-card-logos.html"><img alt="Credit Card Logos" title="Credit Card Logos" src="https://www.shift4shop.com/images/credit-card-logos/cc-lg-4.png" width="413" height="59" border="0" /></a>
        <div class="form-sprite-payment">
            <div class="form-sprite-payment-cardholder">
                <label for="stripe-card-element">
                    Cardholder Name here
                </label>
                <input id="stripe-cardholder-name" type="text" value="@Model.CardHolderName">
            </div>
            <div id="payment-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display Element errors. -->
            <div id="stripe-direct-payment-pay-button">
                <!-- A Stripe Element will be inserted here. -->
            </div>
            <div id="stripe-card-errors" role="alert"></div>
        </div>
    </div>
}